<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>ファイルアップロード動作確認</h1>
    <div>カード情報登録</div>
    <form action="/upload" method="post" enctype="multipart/form-data">
    	<label>ファイル：</label>
    	<input type="file" name="file" />
    	<br/>
    	<input type="submit"/>
    </form>
    <br>
    <div>カード価格登録</div>
    <form action="/price" method="post" enctype="multipart/form-data">
    	<label>ファイル：</label>
    	<input type="file" name="file" />
    	<br/>
    	<input type="submit"/>
    </form>
    <h2><span th:text="${message}"></span></h2>
    <div>カード名検索</div>
    <form action="/search" method="post" enctype="multipart/form-data">
    	<label>カード名：</label>
    	<input type="search" name="search"/>
    	<br/>
    	<input type="submit"/>
    </form>
  </body>
</html>