<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.admin.mapper.admin.CardMstMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.admin.entity.admin.CardMst">
    <id column="CARD_ID" jdbcType="NUMERIC" property="CARD_ID" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="CREATED_DATE" />
    <result column="CREATED_USER" jdbcType="VARCHAR" property="CREATED_USER" />
    <result column="CREATED_PROGRAM" jdbcType="VARCHAR" property="CREATED_PROGRAM" />
    <result column="LAST_EDITED" jdbcType="TIMESTAMP" property="LAST_EDITED" />
    <result column="LAST_USER" jdbcType="VARCHAR" property="LAST_USER" />
    <result column="LAST_PROGRAM" jdbcType="VARCHAR" property="LAST_PROGRAM" />
    <result column="VERSION_EX_KEY" jdbcType="NUMERIC" property="VERSION_EX_KEY" />
    <result column="CARD_NAME" jdbcType="VARCHAR" property="CARD_NAME" />
    <result column="CARD_KIND" jdbcType="VARCHAR" property="CARD_KIND" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.admin.entity.admin.CardMst">
    <result column="CARD_IMAGE" jdbcType="BLOB" property="CARD_IMAGE" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CARD_ID, CREATED_DATE, CREATED_USER, CREATED_PROGRAM, LAST_EDITED, LAST_USER, LAST_PROGRAM, 
    VERSION_EX_KEY, CARD_NAME, CARD_KIND
  </sql>
  <sql id="Blob_Column_List">
    CARD_IMAGE
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.example.demo.admin.entity.admin.CardMstExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ADMIN.CARD_MST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.example.demo.admin.entity.admin.CardMstExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ADMIN.CARD_MST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ADMIN.CARD_MST
    where CARD_ID = #{CARD_ID,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from ADMIN.CARD_MST
    where CARD_ID = #{CARD_ID,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.admin.entity.admin.CardMstExample">
    delete from ADMIN.CARD_MST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.admin.entity.admin.CardMst">
    insert into ADMIN.CARD_MST (CARD_ID, CREATED_DATE, CREATED_USER, 
      CREATED_PROGRAM, LAST_EDITED, LAST_USER, 
      LAST_PROGRAM, VERSION_EX_KEY, CARD_NAME, 
      CARD_KIND, CARD_IMAGE)
    values (#{CARD_ID,jdbcType=NUMERIC}, #{CREATED_DATE,jdbcType=TIMESTAMP}, #{CREATED_USER,jdbcType=VARCHAR}, 
      #{CREATED_PROGRAM,jdbcType=VARCHAR}, #{LAST_EDITED,jdbcType=TIMESTAMP}, #{LAST_USER,jdbcType=VARCHAR}, 
      #{LAST_PROGRAM,jdbcType=VARCHAR}, #{VERSION_EX_KEY,jdbcType=NUMERIC}, #{CARD_NAME,jdbcType=VARCHAR}, 
      #{CARD_KIND,jdbcType=VARCHAR}, #{CARD_IMAGE,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.admin.entity.admin.CardMst">
    insert into ADMIN.CARD_MST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="CARD_ID != null">
        CARD_ID,
      </if>
      <if test="CREATED_DATE != null">
        CREATED_DATE,
      </if>
      <if test="CREATED_USER != null">
        CREATED_USER,
      </if>
      <if test="CREATED_PROGRAM != null">
        CREATED_PROGRAM,
      </if>
      <if test="LAST_EDITED != null">
        LAST_EDITED,
      </if>
      <if test="LAST_USER != null">
        LAST_USER,
      </if>
      <if test="LAST_PROGRAM != null">
        LAST_PROGRAM,
      </if>
      <if test="VERSION_EX_KEY != null">
        VERSION_EX_KEY,
      </if>
      <if test="CARD_NAME != null">
        CARD_NAME,
      </if>
      <if test="CARD_KIND != null">
        CARD_KIND,
      </if>
      <if test="CARD_IMAGE != null">
        CARD_IMAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="CARD_ID != null">
        #{CARD_ID,jdbcType=NUMERIC},
      </if>
      <if test="CREATED_DATE != null">
        #{CREATED_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="CREATED_USER != null">
        #{CREATED_USER,jdbcType=VARCHAR},
      </if>
      <if test="CREATED_PROGRAM != null">
        #{CREATED_PROGRAM,jdbcType=VARCHAR},
      </if>
      <if test="LAST_EDITED != null">
        #{LAST_EDITED,jdbcType=TIMESTAMP},
      </if>
      <if test="LAST_USER != null">
        #{LAST_USER,jdbcType=VARCHAR},
      </if>
      <if test="LAST_PROGRAM != null">
        #{LAST_PROGRAM,jdbcType=VARCHAR},
      </if>
      <if test="VERSION_EX_KEY != null">
        #{VERSION_EX_KEY,jdbcType=NUMERIC},
      </if>
      <if test="CARD_NAME != null">
        #{CARD_NAME,jdbcType=VARCHAR},
      </if>
      <if test="CARD_KIND != null">
        #{CARD_KIND,jdbcType=VARCHAR},
      </if>
      <if test="CARD_IMAGE != null">
        #{CARD_IMAGE,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.admin.entity.admin.CardMstExample" resultType="java.lang.Long">
    select count(*) from ADMIN.CARD_MST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ADMIN.CARD_MST
    <set>
      <if test="row.CARD_ID != null">
        CARD_ID = #{row.CARD_ID,jdbcType=NUMERIC},
      </if>
      <if test="row.CREATED_DATE != null">
        CREATED_DATE = #{row.CREATED_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="row.CREATED_USER != null">
        CREATED_USER = #{row.CREATED_USER,jdbcType=VARCHAR},
      </if>
      <if test="row.CREATED_PROGRAM != null">
        CREATED_PROGRAM = #{row.CREATED_PROGRAM,jdbcType=VARCHAR},
      </if>
      <if test="row.LAST_EDITED != null">
        LAST_EDITED = #{row.LAST_EDITED,jdbcType=TIMESTAMP},
      </if>
      <if test="row.LAST_USER != null">
        LAST_USER = #{row.LAST_USER,jdbcType=VARCHAR},
      </if>
      <if test="row.LAST_PROGRAM != null">
        LAST_PROGRAM = #{row.LAST_PROGRAM,jdbcType=VARCHAR},
      </if>
      <if test="row.VERSION_EX_KEY != null">
        VERSION_EX_KEY = #{row.VERSION_EX_KEY,jdbcType=NUMERIC},
      </if>
      <if test="row.CARD_NAME != null">
        CARD_NAME = #{row.CARD_NAME,jdbcType=VARCHAR},
      </if>
      <if test="row.CARD_KIND != null">
        CARD_KIND = #{row.CARD_KIND,jdbcType=VARCHAR},
      </if>
      <if test="row.CARD_IMAGE != null">
        CARD_IMAGE = #{row.CARD_IMAGE,jdbcType=BLOB},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ADMIN.CARD_MST
    set CARD_ID = #{row.CARD_ID,jdbcType=NUMERIC},
      CREATED_DATE = #{row.CREATED_DATE,jdbcType=TIMESTAMP},
      CREATED_USER = #{row.CREATED_USER,jdbcType=VARCHAR},
      CREATED_PROGRAM = #{row.CREATED_PROGRAM,jdbcType=VARCHAR},
      LAST_EDITED = #{row.LAST_EDITED,jdbcType=TIMESTAMP},
      LAST_USER = #{row.LAST_USER,jdbcType=VARCHAR},
      LAST_PROGRAM = #{row.LAST_PROGRAM,jdbcType=VARCHAR},
      VERSION_EX_KEY = #{row.VERSION_EX_KEY,jdbcType=NUMERIC},
      CARD_NAME = #{row.CARD_NAME,jdbcType=VARCHAR},
      CARD_KIND = #{row.CARD_KIND,jdbcType=VARCHAR},
      CARD_IMAGE = #{row.CARD_IMAGE,jdbcType=BLOB}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ADMIN.CARD_MST
    set CARD_ID = #{row.CARD_ID,jdbcType=NUMERIC},
      CREATED_DATE = #{row.CREATED_DATE,jdbcType=TIMESTAMP},
      CREATED_USER = #{row.CREATED_USER,jdbcType=VARCHAR},
      CREATED_PROGRAM = #{row.CREATED_PROGRAM,jdbcType=VARCHAR},
      LAST_EDITED = #{row.LAST_EDITED,jdbcType=TIMESTAMP},
      LAST_USER = #{row.LAST_USER,jdbcType=VARCHAR},
      LAST_PROGRAM = #{row.LAST_PROGRAM,jdbcType=VARCHAR},
      VERSION_EX_KEY = #{row.VERSION_EX_KEY,jdbcType=NUMERIC},
      CARD_NAME = #{row.CARD_NAME,jdbcType=VARCHAR},
      CARD_KIND = #{row.CARD_KIND,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.admin.entity.admin.CardMst">
    update ADMIN.CARD_MST
    <set>
      <if test="CREATED_DATE != null">
        CREATED_DATE = #{CREATED_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="CREATED_USER != null">
        CREATED_USER = #{CREATED_USER,jdbcType=VARCHAR},
      </if>
      <if test="CREATED_PROGRAM != null">
        CREATED_PROGRAM = #{CREATED_PROGRAM,jdbcType=VARCHAR},
      </if>
      <if test="LAST_EDITED != null">
        LAST_EDITED = #{LAST_EDITED,jdbcType=TIMESTAMP},
      </if>
      <if test="LAST_USER != null">
        LAST_USER = #{LAST_USER,jdbcType=VARCHAR},
      </if>
      <if test="LAST_PROGRAM != null">
        LAST_PROGRAM = #{LAST_PROGRAM,jdbcType=VARCHAR},
      </if>
      <if test="VERSION_EX_KEY != null">
        VERSION_EX_KEY = #{VERSION_EX_KEY,jdbcType=NUMERIC},
      </if>
      <if test="CARD_NAME != null">
        CARD_NAME = #{CARD_NAME,jdbcType=VARCHAR},
      </if>
      <if test="CARD_KIND != null">
        CARD_KIND = #{CARD_KIND,jdbcType=VARCHAR},
      </if>
      <if test="CARD_IMAGE != null">
        CARD_IMAGE = #{CARD_IMAGE,jdbcType=BLOB},
      </if>
    </set>
    where CARD_ID = #{CARD_ID,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.admin.entity.admin.CardMst">
    update ADMIN.CARD_MST
    set CREATED_DATE = #{CREATED_DATE,jdbcType=TIMESTAMP},
      CREATED_USER = #{CREATED_USER,jdbcType=VARCHAR},
      CREATED_PROGRAM = #{CREATED_PROGRAM,jdbcType=VARCHAR},
      LAST_EDITED = #{LAST_EDITED,jdbcType=TIMESTAMP},
      LAST_USER = #{LAST_USER,jdbcType=VARCHAR},
      LAST_PROGRAM = #{LAST_PROGRAM,jdbcType=VARCHAR},
      VERSION_EX_KEY = #{VERSION_EX_KEY,jdbcType=NUMERIC},
      CARD_NAME = #{CARD_NAME,jdbcType=VARCHAR},
      CARD_KIND = #{CARD_KIND,jdbcType=VARCHAR},
      CARD_IMAGE = #{CARD_IMAGE,jdbcType=BLOB}
    where CARD_ID = #{CARD_ID,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.admin.entity.admin.CardMst">
    update ADMIN.CARD_MST
    set CREATED_DATE = #{CREATED_DATE,jdbcType=TIMESTAMP},
      CREATED_USER = #{CREATED_USER,jdbcType=VARCHAR},
      CREATED_PROGRAM = #{CREATED_PROGRAM,jdbcType=VARCHAR},
      LAST_EDITED = #{LAST_EDITED,jdbcType=TIMESTAMP},
      LAST_USER = #{LAST_USER,jdbcType=VARCHAR},
      LAST_PROGRAM = #{LAST_PROGRAM,jdbcType=VARCHAR},
      VERSION_EX_KEY = #{VERSION_EX_KEY,jdbcType=NUMERIC},
      CARD_NAME = #{CARD_NAME,jdbcType=VARCHAR},
      CARD_KIND = #{CARD_KIND,jdbcType=VARCHAR}
    where CARD_ID = #{CARD_ID,jdbcType=NUMERIC}
  </update>
</mapper>